<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="General">
    <setting label="Configuration" type="lsep" />
    <setting default="ResolveURL" id="engine"
    label="Torrent Engine" type="labelenum"
    values="ResolveURL|Torrest" />
    <setting label="Actions" type="lsep" />
    <setting action="RunPlugin(plugin://plugin.video.haru/?action=toggle_language_invoker)"
    label="Toggle Language Invoker" type="action" />
  </category>
  <category label="SubsPlease">
    <setting label="Actions" type="lsep" />
    <setting action="RunPlugin(plugin://plugin.video.haru/?action=clear_history_subsplease)"
    label="Clear History" type="action" />
  </category>
  <category label="Torrents">
    <setting label="Actions" type="lsep" />
    <setting action="RunPlugin(plugin://plugin.video.haru/?action=clear_history_nyaa)"
    label="Clear History" type="action" />
    <setting label="Sukebei (NSFW)" type="lsep" />
    <setting id="sukebei_enabled" label="Enabled" type="bool" />
  </category>
</settings>
