on:
  push:
    branches:
      - "release-please--*"
name: addon-news
jobs:
  addon-news:
    if: "contains(github.event.head_commit.message, 'chore(master): release')"
    runs-on: ubuntu-latest
    container: ubuntu:22.04
    steps:
      - run: apt-get update && apt-get install -y git xmlstarlet pandoc
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: git config --global --add safe.directory /__w/plugin.video.haru/plugin.video.haru
      - run: ./update-news.sh
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "chore: update addon news"
